@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* RESET DE PROPRIEDADE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color:grey;
}

/* CONFIGURAÇÕES GENÉRICAS */

.container-grid {
    width: 80%;
    margin: 0 auto;
    /* background-color: purple; */
}


/***** cabeçalho *****/
header {
    background-color:grey;
}

header .header-flex {
    display: flex;
    justify-content: space-between
}

header h1 {
    color:white;
    font-weight: 300;
}

header h1 #logoux{
    font-style: italic;
    font-weight: 700;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}


header nav a {
    color:white;
    text-decoration: none;
}

#paragrafo {
    display: flex;
    margin-top: 10px;
}

#aside {
    display:flex;
    align-items:flex-start;
    justify-content: ;
}



    
    




